<a href="https://colab.research.google.com/github/nimethon/class-3-assignment/blob/main/class_3_assignement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Typecasting Challenge

In [ ]:
a = "100"
b = 25
c = "10.5"

# Convert a to integer and add it to b
result1 = int(a) + b

# Convert c to float and subtract it from result1
result2 = result1 - float(c)

# Convert final result to string and concatenate with message
final_result = str(result2) + " is the answer."

# Print the final result
print(final_result)

114.5 is the answer.

Python Conditional Statements:

11. Positive, Negative, or Zero:

In [ ]:
num = int(input('type a number: '))
if num==0:
  print('you type zero')
elif num > 0:
  print('you type a positive number')
else:
  print('you type a negative number')

type a number: 6
you type a positive number

12. Largest of Three Numbers:

In [ ]:
num1 = int(input('type a number: '))
num2 = int(input('type 2nd number: '))
num3 = int(input('type 3rd number: '))
if num1>=num2 and num1>=num3:
    largest= num1
elif num2>=num1 and num2>=num3:
    largest=num2
else:
    largest=num3
print('largest number is: ',largest)

type a number: 2
type 2nd number: 3
type 3rd number: 555555
largest number is:  555555

 Leap Year Checker:

In [ ]:
year= int(input('type a year: '))
if year%4 == 0 and year%100 != 0 or year%400 == 0:
  print(year,'is a leap year')
else:
  print(year,'is not a leap year')

type a year: 2012
2012 is a leap year

Grades Classification

In [ ]:
def grade_calculator(number):
    if number >= 90:
        grade = 'A'
    elif number >= 80:
        grade = 'B'
    elif number >= 70:
        grade = 'C'
    elif number >= 60:
        grade = 'D'
    else:
        grade = 'F'
    return grade
#upper part a machine, lower part is user value

expnumber = float(input("please submit your exam's mark:",))
expgrade=grade_calculator(expnumber)
print("your grade for",expnumber, 'is',expgrade)

please submit your exam's mark:94
your grade for 94.0 is A

 Vowel or Consonant:

In [ ]:
word = str(input('type a single character : '))
if word in ['a', 'e', 'i', 'o', 'u']:
  print('your typed vowel character: ',word)
else:
  print('your typed constant is: ',word)

type a single character : e
your typed vowel character:  e

 Time Classification:

In [ ]:
24 hour time